<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h5>{{ task.title }}</h5>
      <hr>
      <p>This task is {{ task.status }}</p>
      <button class="btn btn-default" (click)="onSetTo('open')">Set to 'open'</button>
      <button class="btn btn-default" (click)="onSetTo('in progress')">Set to 'in progress'</button>
      <button class="btn btn-default" (click)="onSetTo('archived')">Set to 'archived'</button>
    </div>
  </div>
