<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-task (taskAdded)="onTaskAdded($event)"></app-new-task>
      <hr>
      <app-task
        *ngFor="let task of tasks; let i = index"
        [task]="task"
        [id]="i"></app-task>
    </div>
  </div>
</div>
