<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>Task Title</label>
      <input
        type="text"
        class="form-control"
        #taskTitle>
    </div>
    <div class="form-group">
      <select class="form-control" #status>
        <option value="open">Open</option>
        <option value="in progress">In Progress</option>
        <option value="archived">Archived</option>
      </select>
    </div>
    <button
      class="btn btn-primary"
      (click)="onCreateTask(taskTitle.value, status.value)">
      New Task
    </button>
  </div>
</div>
  